<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Running</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container_index">
        <h1>Running</h1>
        <div class="buttons">
            <a href="/Player1" class="button">Athlete</a>
            <a href="/search?query=Analysis" class="button">Analysis</a>
            <a href="/search?query=Advice" class="button">Advice</a>
            <a href="/Data" class="button">Data</a>
        </div>
    </div>
</body>
</html>
